.home-header {
    background-color: #929292;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.home-header h1 {
    margin-left: 10px;
    font-size: 24px;
    color: #000000;
}

.home-header svg {
    width: 40px;
    height: 40px;
}