body{
    width: 100vw;
    min-height: 100vh;

}

.historico-container {
    height: 100%;
    width: 100%;
}

.conteiner-map-historico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.historico-item {
    padding: 15px;
    width: 20vw;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
}
